@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @apply text-slate-700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

h1,
h2 {
  @apply font-bold leading-tight;
}

h3 {
  @apply font-semibold leading-tight;
}

button.btn {
  @apply transition-colors;
  @apply bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded;
}

button.btn-outline {
  @apply transition-colors;
  @apply border border-blue-600 bg-white text-blue-600 hover:bg-slate-100 font-semibold py-2 px-4 rounded;
}

button:disabled {
  @apply cursor-not-allowed bg-slate-400 hover:bg-slate-400;
}

.table-container {
  @apply overflow-auto smooth-scrollbar;
}

@keyframes show {
  to {
    opacity: 100;
  }
}

.animate-show {
  @apply opacity-0;
  animation: show 0.3s forwards;
}
